body {
    min-width: 320px;
    background-color: #292929;
    font-family: 'PT Sans Narrow', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: 768px) {

    .page-header__logo {
        display: block;
        padding: 27px 50px;
    }

    .page-header__logo img {
        display: block;
        margin: auto;
    }

    .main-nav {
        display: flex;
        justify-content: end;
        background-color: #826550;
    }

    .main-nav--toggle {
        justify-content: start;
    }

    .main-nav__wrapper {
        position: absolute;
        width: calc(100vw - 70px);
        right: 0;
        z-index: 1;
    }

    .main-nav__wrapper--hide {
        display: none;
    }

    .main-nav__toggle {
        border: none;
        width: 70px;
        height: 50px;
        background-color: #6A4D38;
    }

    .user-list {
        background-color: #6A4D38;
        height: 65vh;
    }

    .site-list__item {
        padding: 15px 40px;
        border-bottom: 1px solid #6a4d389c;
        background-color: #5f4a3b;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 5%), #826550;

    }

    .user-list__item {
        padding: 15px 50px;
        font-size: 18px;
    }

    .user-list__item::before {
        content: "";

        display: block;
        position: absolute;

        left: 25px;
        margin-top: 1px;
        height: 16px;
        width: 16px;

        opacity: .5;

        background: url(../img/login-icon.svg) 16px;
    }

    .site-list__item:active {
        background-color: #6A4D38;
    }

    .site-list__item a:active {
        opacity: .1;
    }

    /* || main */

    .stats__slogan {
        margin-bottom: 20px;

        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
    }

    .stats__item {
        display: flex;
        justify-content: space-between;

        padding: 20px 15px;

        color: white;
    }

    .stats__number {
        font-size: 38px;
        font-weight: 700;
    }

    .stats__description {
        direction: rtl;
        font-size: 18px;
        line-height: 1.2;
    }

    .slider__toggles {
        display: flex;
        justify-content: center;
        margin: 15px auto;
    }

    .slider__toggle {
        width: 7px;
        height: 7px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px white solid;
        padding: 0;
        margin: 0 10px;
        transform: rotate(45deg);
    }

    .slider__toggle--current {
        background-color: white;
    }

    .reviews__toggles .slider__toggle {
        border: 1px black solid;
    }

    .reviews__toggles .slider__toggle--current {
        background-color: black;
    }

    .social__title--hide,
    .reviews__write--hide,
    .reviews_prev--hide,
    .reviews_next--hide {
        display: none;
    }

    /* || footer */

    .page-footer__contacts {
        text-align: center;
    }

    .contacts__text {
        margin-bottom: 14px;
    }

    .contacts__phone {
        display: block;
        padding: 15px 0;
        margin: 20px 15px;
        border: 1px solid rgb(77, 77, 77);
        font-weight: 700;
    }

    .social__list {
        display: flex;
    }

    .social__item {
        flex: 1;
    }

    .social__link {
        height: 100px;
    }

}

@media (min-width: 769px) and (max-width: 1280px) {

    .social__title--hide {
        display: none;
    }

    /* || header */

    .contacts__title {
        text-transform: uppercase;
    }

    .social__list {
        display: flex;
    }

    .social__item {
        flex: 1;
    }


    .social__link {
        height: 100px;
    }

}

@media (min-width: 1280px) {

    /* || header */

    .contacts__title {
        text-transform: uppercase;
    }

}

/* || header */

.site-list__item a, .user-list__item a {
    display: block;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

/* || main */

.stats__header {
    padding: 30px 15px;
    text-align: center;

    background-color: white;
}

.stats__intro {
    font-size: 20px;
    line-height: 1.25;
}

.stats__item {
    background-color: #333333;
}

.stats__item:nth-child(even) {
    background-color: #3b3b3b;
}

.stats__legend {
    display: block;
    text-align: center;
    color: #5a5a5a;
    font-size: 20px;
    padding: 15px 0;
}

.advantages__list {
    display: flex;
    position: relative;
    overflow: hidden;
    /* width: 100vw; */
    margin: 0 auto;
    color: white;
    text-align: center;
}

.advantages__item {
    min-width: 100vw;
}

.advantages__title {
    margin: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.advantages__description {
    margin: 20px;
    font-size: 20px;
}

.advantages__item--fast::before {
    content: "";
    display: block;

    height: 120px;
    width: 120px;

    margin: auto;

    background: url(../img/fast-icon.svg) no-repeat;
}

.advantages__item--cool::before {
    content: "";
    display: block;

    height: 120px;
    width: 120px;

    margin: auto;

    background: url(../img/cool-icon.svg) no-repeat;
}

.advantages__item--price::before {
    content: "";
    display: block;

    height: 120px;
    width: 120px;

    margin: auto;

    background: url(../img/expensive-icon.svg) no-repeat;
}

.advantages::after {
    content: "";
    display: block;
    /*min-width: 320px;*/
    height: 40px;
    background: url(../img/light-corner.svg) no-repeat;
}

.news {
    background-color: white;
    padding: 30px 20px 20px;
}

.new__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.news__item {
    display: flex;
    margin: 30px 0;
}

.news__date {
    /* display: inline-block; */
    text-align: center;
    width: 30px;
    height: min-content;
    padding: 5px 10px 0 10px;
    color: white;
    background-color: black;
}

.news__text {
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.25;
}

.news__date::after {
    content: "";
    display: block;
    position: relative;
    right: 10px;
    height: 10px;
    width: 50px;
    background: url(../img/light-corner.svg) no-repeat;
}

.news__day {
    font-size: 30px;
    font-weight: 700;
}

.news__to-all {
    display: block;
    padding: 15px 0;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.reviews {
    box-sizing: border-box;
    padding: 30px 20px 0;
    background-color: white;
}

.reviews::after {
    content: "";
    display: block;
    position: relative;
    right: 20px;
    /* min-width: 320px; */
    
    width: 100%;
    height: 40px;
    background: url(../img/dark-corner.svg);
}

.reviews__title {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.reviews__list {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.reviews__item {
    display: flex;
    min-width: 100vw;
}

.reviews__author-image {
    margin-top: 10px;
}

.reviews__author-info {
    padding: 0 20px;
}

.reviews__author-name {
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}

.reviews__text {
    font-size: 18px;
    line-height: 1.25;
}

/* || footer */

.page-footer {
    color: white;
    margin: 30px 0;
}

.page-footer a {
    color: white;
}

.contacts__title {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
}

.contacts__text {
    font-size: 18px;
}

.contacts__phone {
    font-size: 18px;
}

.social__link {
    display: block;
    border: 1px solid rgb(77, 77, 77);
}

.social__link--vkontakte::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/vk-icon.png) no-repeat center;
}

.social__link--facebook::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/facebook-icon.png) no-repeat center;
}

.social__link--instagram::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/insta-icon.png) no-repeat center;
}

.page-footer__copyright {
    padding-bottom: 20px;
}

.copyright__text {
    display: block;
    margin: 25px 0 10px 0;
    text-align: center;
    font-size: 18px;
}

.copyright__link {
    display: block;
    margin: 0 15px;
    padding: 15px 0;
    border: 1px solid rgb(77, 77, 77);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}